.container {
  width: 100%;

  display: flex;
  align-items: center;

  padding: 9px 16px;
  border-radius: 4px;
}

.input {
  width: 100%;
  background-color: transparent;

  border: none;
  outline: none;
}
